<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @function.name %>
	<% @users.each do |user| %>
		<div><%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %></div>
	<% end %>
</p>

<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
