<p id="notice"><%= notice %></p>

<p>
	<strong> <%= t('first_name') %> :</strong>
	<%= @user.first_name %>
</p>

<p>
	<strong> <%= t('last_name') %> :</strong>
	<%= @user.last_name %>
</p>

<p>
	<strong><%= t('function') %>:</strong>
  <% if @user.function %>
	<%= link_to @user.function.name, function_path(@user.function.id) %>
  <% else %>
	Indéfinie
  <% end %>
</p>
<p>
<strong><%= t('hierarchy') %>:</strong>
	<ul class="hierarchy">
		<% if @user.parent %>
			<li class="root"><%= link_to "#{@user.parent.first_name} #{@user.parent.last_name}", user_path(@user.parent.id) %></li>
		<% else%>
			<li class="root">Pas de supérieur</li>
		<% end %>
		<ul>
			<li>
				<span>
					<%= "#{@user.first_name} #{@user.last_name}" %>
				</span>
				<ul>
				<% if @user.children %>
					<% @user.children.each do |c| %>
						<li><%= link_to "#{c.first_name} #{c.last_name}", user_path(c.id)%></li>
					<% end %>
				<% end %>
				</ul>
			</li>
		</ul>
	</ul>
</p>

<%= link_to t('edit'), edit_user_path(@user) %> |
<%= link_to t('back'), users_path %>
