<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Function:</strong>
  <% if @user.function %>
	<%= link_to @user.function.name, function_path(@user.function.id) %>
  <% else %>
	Indéfinie
  <% end %>
</p>
<p>
	<strong>Hierarchy:</strong>
	<ul class="hierarchy">
		<% if @user.parent %>
			<li class="root"><%= link_to "#{@user.parent.name} #{@user.parent.surname}", user_path(@user.parent.id) %></li>
		<% else%>
			<li class="root">Pas de supérieur</li>
		<% end %>
		<ul>
			<li>
				<span>
					<%= "#{@user.name} #{@user.surname}" %>
				</span>
				<ul>
				<% if @user.children %>
					<% @user.children.each do |c| %>
						<li><%= link_to "#{c.name} #{c.surname}", user_path(c.id)%></li>
					<% end %>
				<% end %>
				</ul>
			</li>
		</ul>
	</ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
