<div class="pure-menu pure-menu-horizontal">
	<%= link_to "Home", root_url, :class => "pure-menu-heading pure-menu-link" %>
	<ul class="pure-menu-list">
		<li class="pure-menu-item">
			<%= form_tag(users_path, :method => "get", id: "search-form") do %>
				<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "namesearch", type: "search", data: {autocomplete: users_autocomplete_user_name_path } %>
				<%= submit_tag "Search" %>
			<% end %>
		</li>
		<li class="pure-menu-item">
			<%= link_to "Functions", functions_path, :class => "pure-menu-link" %>
		</li>
		<li class="pure-menu-item">
			<%= link_to "Hierarchy", users_hierarchy_path, :class => "pure-menu-link" %>
		</li>
</div>
