<div id="header" class="pure-menu pure-menu-horizontal">
	<%= link_to t("home"), root_url, :class => "pure-menu-heading pure-menu-link button-large pure-button" %>
	<ul class="pure-menu-list">
		<li class="pure-menu-item">




<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<!-- text field tag=action,args,identifier,placeholdertext... -->
	<%= text_field_tag :search, params[:search],
		class: "search-query",
			placeholder: "namesearch",
			type: "search",
			data: {autocomplete: autocomplete_user_last_name_users_path} %>
	<%= submit_tag "Search" %>
<% end %>


<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>
		</li>
		<li class="pure-menu-item">
			<%= link_to t('functions'), functions_path, :class => "pure-menu-link button-large pure-button" %>
		</li>
		<li class="pure-menu-item">
			<%= link_to t("hierarchy"), users_hierarchy_path, :class => "pure-menu-link button-large pure-button" %>
		</li>
</div>
